<!-- Contenedor principal para darle el tamaño de una tarjeta real -->
<div class="96 h-56 text-white p-6 rounded-2xl shadow-2xl flex flex-col justify-between relative font-sans select-none"
	[ngStyle]="{ 'background': 'linear-gradient(to bottom right, ' + (status === 0 ? '#6b7280' : color) + ', #1f2937)' }">

	<!-- Efecto de brillo de fondo (opcional, para darle estilo premium) -->
	<div class="absolute top-0 right-0 w-32 h-32 bg-white/5 rounded-full blur-2xl -mr-5 -mt-5"></div>

	<!-- Fila Superior: Chip y Tipo de Tarjeta -->
	<div class="flex justify-between items-center z-10">
		<!-- El Chip (Hecho con CSS puro) -->
		<div class="w-12 h-9 bg-linear-to-r from-yellow-200 via-amber-300 to-yellow-400 rounded-md relative shadow-sm" [ngClass]="tipo === 'DEBITO' || tipo === 'CREDITO' ? 'opacity-80' : 'opacity-0'">
			<div class="absolute inset-1 border border-amber-600/30 rounded-sm grid grid-cols-3 gap-0.5">
				<div class="border-r border-b border-amber-600/20"></div>
				<div class="border-r border-b border-amber-600/20"></div>
				<div class="border-b border-amber-600/20"></div>
				<div class="border-r border-amber-600/20"></div>
				<div class="border-r border-amber-600/20"></div>
				<div></div>
			</div>
		</div>

		<!-- Logo del Banco o texto -->
		<span class="text-sm font-semibold tracking-widest text-slate-300 uppercase">{{ tipo }}</span>
	</div>

	<!-- Fila Media: Número de la Tarjeta -->
	<div class="z-10 my-auto">
		<span class="text-3xl font-medium tracking-[0.2em] font-mono text-slate-100 block drop-shadow-md">
			{{ montoMostrado | currency:'MXN':'symbol-narrow' }}
		</span>
	</div>

	<!-- Fila Inferior: Nombre del Tarjetahabiente y Fecha de Vencimiento -->
	<div class="flex justify-between items-end z-10">
		<div>
			<p class="text-2xs uppercase tracking-wider text-slate-400 font-medium">Nombre</p>
			<p class="text-sm font-medium tracking-wide text-white mt-0.5 uppercase">{{ nombre }}</p>
		</div>

		<!-- Logo de la Red de Pago (Visa / Mastercard simulado) -->
		<div class="flex items-center">
			<!-- Círculos entrelazados tipo Mastercard -->
			<img class="w-12 h-12" src="/img/logo.png" alt="Logo de Monetra">
			<div class="relative">
			<button
				#dropdownButton
				[id]="'dropdown-button-' + id"
				[attr.data-dropdown-toggle]="'dropdown-' + id"
				data-dropdown-placement="bottom"
				class="text-heading box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm p-1 focus:outline-none cursor-pointer"
				type="button"
				[attr.aria-controls]="'dropdown-' + id"
				aria-label="Opciones de la cuenta">
				<svg class="w-6 h-6 text-slate-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="3" d="M12 6h.01M12 12h.01M12 18h.01"/></svg>
			</button>

			<div
				#dropdownMenu
				[id]="'dropdown-' + id"
				class="z-[9999] hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44">
				<ul class="p-2 text-sm text-body font-medium">
					<li>
						<button type="button" class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded cursor-pointer">Ver</button>
					</li>
					@if (tipo === 'CREDITO') {
					<li>
						<button
							type="button"
							(click)="solicitarPago()"
							[disabled]="status !== 1 || saldoAPagar <= 0"
							class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-transparent">
							Pagar saldo
						</button>
					</li>
					}
					@else {
					<li>
						<button
							type="button"
							(click)="solicitarTransferencia()"
							[disabled]="status !== 1"
							class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-transparent">
							Transferir Saldo
						</button>
					</li>
					}
					@if (nombre !== 'Efectivo') {
					<li>
						<button type="button" (click)="actualizarStatus()"
						class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium rounded cursor-pointer"
						[ngClass]="{
							'text-red-400': status === 1,
							'text-green-400': status !== 1
						}">
						{{ status === 1 ? 'Desactivar' : 'Activar'}}</button>
					</li>
				}
				</ul>
			</div>
			</div>

		</div>
	</div>
</div>
